<section>
  <p id="notice"><%= notice %></p>


  <h1>Your Posts</h1>

  <% if user_logged_in? %>
    <% @posts.each do |post| %>
      <div class="onePostSet">
        <div id="postSet">
          <h5><%= post.title %></h5>
          <p><%= post.body %></p>
        </div>
        <ul class="showEditDestroy">
          <li class="change"><%= link_to 'Show', user_post_path(post.user_id, post) %></li>
          <li class="change"><%= link_to 'Edit', edit_user_post_path(post.user_id, post) %></li>
          <li class="change"><%= link_to 'Destroy', user_post_path(post.user_id, post), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    <% end %>
  <% end %>
</section>
